<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <header>
        <div>
            <a href="/">
                <img src="/images/logo.png" alt="Logo">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="">Smartphones</a></li>
                <li><a href="">Tablets</a></li>
                <li><a href="">Computadoras</a></li>
            </ul>
            <ul>
                <li><a href="">Login</a></li>
                <li><a href="">Registro</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <article>
                <img src="/images/img-phone-01.jpg" alt="Phone 01">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, nulla eaque nisi tenetur et, ipsum perspiciatis debitis eum beatae officiis reprehenderit obcaecati qui, nihil mollitia commodi? Modi perferendis accusamus illum.</p>
                <button>ver más</button>
            </article>
            <article>
                <img src="/images/img-phone-02.jpg" alt="Phone 02">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, nulla eaque nisi tenetur et, ipsum perspiciatis debitis eum beatae officiis reprehenderit obcaecati qui, nihil mollitia commodi? Modi perferendis accusamus illum.</p>
                <button>ver más</button>
            </article>
            <article>
                <img src="/images/img-phone-03.jpg" alt="Phone 03">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, nulla eaque nisi tenetur et, ipsum perspiciatis debitis eum beatae officiis reprehenderit obcaecati qui, nihil mollitia commodi? Modi perferendis accusamus illum.</p>
                <button>ver más</button>
            </article>
            <article>
                <img src="/images/img-phone-01.jpg" alt="Phone 01">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, nulla eaque nisi tenetur et, ipsum perspiciatis debitis eum beatae officiis reprehenderit obcaecati qui, nihil mollitia commodi? Modi perferendis accusamus illum.</p>
                <button>ver más</button>
            </article>
            <article>
                <img src="/images/img-phone-02.jpg" alt="Phone 02">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, nulla eaque nisi tenetur et, ipsum perspiciatis debitis eum beatae officiis reprehenderit obcaecati qui, nihil mollitia commodi? Modi perferendis accusamus illum.</p>
                <button>ver más</button>
            </article>
            <article>
                <img src="/images/img-phone-03.jpg" alt="Phone 03">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, nulla eaque nisi tenetur et, ipsum perspiciatis debitis eum beatae officiis reprehenderit obcaecati qui, nihil mollitia commodi? Modi perferendis accusamus illum.</p>
                <button>ver más</button>
            </article>
            <article>
                <img src="/images/img-phone-01.jpg" alt="Phone 01">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, nulla eaque nisi tenetur et, ipsum perspiciatis debitis eum beatae officiis reprehenderit obcaecati qui, nihil mollitia commodi? Modi perferendis accusamus illum.</p>
                <button>ver más</button>
            </article>
            <article>
                <img src="/images/img-phone-02.jpg" alt="Phone 02">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, nulla eaque nisi tenetur et, ipsum perspiciatis debitis eum beatae officiis reprehenderit obcaecati qui, nihil mollitia commodi? Modi perferendis accusamus illum.</p>
                <button>ver más</button>
            </article>
            <article>
                <img src="/images/img-phone-03.jpg" alt="Phone 03">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, nulla eaque nisi tenetur et, ipsum perspiciatis debitis eum beatae officiis reprehenderit obcaecati qui, nihil mollitia commodi? Modi perferendis accusamus illum.</p>
                <button>ver más</button>
            </article>
        </section>
        <aside>
            <section>
                <h2>Tutoriales</h2>
                <article>
                    <img src="/images/aside-01.jpg" alt="Aside 01"><a href=""></a></img>
                    <p>Título del tutorial de reparación</p>
                </article>
                <article>
                    <img src="/images/aside-02.jpg" alt="Aside 02"><a href=""></a></img>
                    <p>Título del tutorial de reparación</p>
                </article>
                <article>
                    <img src="/images/aside-03.jpg" alt="Aside 03"><a href=""></a></img>
                    <p>Título del tutorial de reparación</p>
                </article>
                <article>
                    <img src="/images/aside-04.jpg" alt="Aside 04"><a href=""></a></img>
                    <p>Título del tutorial de reparación</p>
                </article>
            </section>
            <section>
                <h2>Publicidad</h2>
                <img src="/images/ad-01.jpg" alt="Anuncio 01">
                <img src="/images/ad-02.jpg" alt="Anuncio 02">
            </section>
        </aside>
    </main>

</body>
</html>